@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<p>Welcome to "My Movie Libriry" - a demo project created for "Speed It Up" workshop by Nemetschek Bulgaria</p>
    <div class="card p-4">
	    <div class="mb-2">
            <b>Assignment Description:</b>
			<hr />
			<p>Напиши код, който да обработва данни за филмотека до 132 филма. За всеки филм да има информация за неговото заглавие, жанр, дата на премиерата и главните актьори. Важно е кодът да може да сортира филмите по заглавие и/или по актьор, и/или по жанр. Също така, ако измежду тях има заглавието "Матрицата"/"The Matrix" – винаги при сортирането да бъде на първо място.<br /></p>
			<i>• Няма значение как ще се въвеждат данните за филмите (от файл, през конзолата, през графичен интерфейс, от база данни).<br /></i>
			<i>• Няма значение къде ще се визуализират данните (във файл, в конзолата, в графичен интерфейс, в база данни).<br /></i>
			<i>• Няма значение програмният език, на който ще напишеш програмата.</i>
		</div>
	</div>
	<p> I encourage you to also check out my <a href="https://hristovavictoriya.online/">resume</a> and <a href="https://github.com/hristova23">GitHub profile</a></p>
</div>
